body {
	margin: 0;
	padding: 0;
	background-color: black;
	color: white;
}

div#grid-main {
	background-size: cover;
	height:100vh;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(7, 1fr);
	gap: 20pt;
	width:100vw;
	display: grid;
}

div.user{
	display: flex;
	align-items: center;
	justify-content: center;
	grid-area: 1 / 2 / 2 / 4;
	/* background-color: orange; */
	font-size: 3vh;
}

div.navigation {
	margin-left: 20pt;
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	grid-area: 2 / 1 / 7 / 2;
	/* background-color: orange; */
	font-size: 2vh;
	border: solid;
	border-width: 3pt;
	border-color: white;
	border-radius: 20pt;
}

div.add-grade{
	margin-right: 20pt;
	display: flex;
	flex-direction: vertical;
	align-items: center;
	justify-content: center;
	grid-area: 2 / 4 / 4 / 4;
	/* background-color: orange; */
	font-size: 2vh;
	border: solid;
	border-width: 3pt;
	border-color: white;
	border-radius: 20pt;
}


div.add-grade p {
	display: flex;
	flex-direction: vertical;
}

div.home {
	align-items: center;
	justify-content: center;
	grid-area: 2 / 2 / 2 / 4;
	/* background-color: orange; */
	font-size: 2vh;
	border: solid;
	border-width: 3pt;
	border-color: white;
	border-radius: 20pt;
}

div.home div {
	margin: 10pt;
}

div.grades {
	align-items: center;
	justify-content: center;
	grid-area: 2 / 2 / 7 / 4;
	/* background-color: orange; */
	font-size: 2vh;
	border: solid;
	border-width: 3pt;
	border-color: white;
	border-radius: 20pt;
	height:5fr;
}

div.grades-grades {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-template-rows: repeat(6, 1fr);
	padding-bottom: 0.5fr;
	align-items: center;
	justify-content: center;
	grid-area: 3 / 2 / 7 / 4;
	/* background-color: orange; */
	font-size: 2vh;
	border-radius: 20pt;
}

div.grades-grades-grades {
	align-items: center;
	justify-content: center;
	grid-area: 1 / 1 / 6 / 2;
	margin-top: 4vh;
	height: 48vh;
	overflow: auto;
}

div.grades-grades-grades p {
	display: flex;
	flex-direction: vertical;
	justify-content: center;
}

div.arrow-bottom {
	align-items: center;
	justify-content: center;
	grid-area: 6 / 1 / 7 / 2;
	/* background-color: orange; */
	font-size: 2vh;
	border-radius: 20pt;
}

div.fig {
	display: flex;
	align-items: center;
	justify-content: center;
	grid-area: 4 / 4 / 7 / 5;
	/* background-color: orange; */
	font-size: 2vh;
	border: solid;
	border-width: 3pt;
	border-color: white;
	border-radius: 20pt;
	margin-right: 20pt;
}

div.fig img {
	margin:-8vw;
	justify-content: center;
	align-items: center;
	border-radius: 20pt;
}

a {
	transition: 0.3s ease-in-out;
	text-decoration: none;
	color: white;
}

a:hover {
	text-shadow: 0pt 0px 20pt white;
}

input {
	transition: 0.3s ease-in-out;
	margin: 3pt;
	margin-left: 10pt;
	margin-right: 10pt;
	padding: 5pt 8pt;
	box-sizing: border-box;
	text-decoration: none;
	outline: none;
}

input:focus {
	
	border-style: solid;
	border-color: white;
	border-width: 5pt;
}

input:hover {
	box-shadow: 0pt 0px 80pt rgba(145, 92, 182, 1);
}


select {
	margin: 3pt;
	margin-left: 10pt;
	margin-right: 10pt;
	padding: 5pt 8pt;
	box-sizing: border-box;
}

button {
	transition: 0.3s ease-in-out;
	margin: 4pt;
	padding: 5pt 8pt;
	box-sizing: border-box;
	color: white;
	background-color: gray;
	border: solid;
	border-width: 3pt;
	border-color: white;
	border-radius: 20pt;

}

button:hover {
	box-shadow: 0pt 0px 30pt rgba(145, 92, 182, 1);
}

p.title {
	margin-right: 1vw;
	margin-left: 1vw;
	font-size: 5vh;
}

p.title-s {
	transition: 0.3s ease-in-out;
	display: flex;
	flex-direction: vertical;
	justify-content: center;
	margin-right: 1vw;
	margin-left: 1vw;
	font-size: 4vh;
}

p.title-s:hover {
	text-shadow: 0pt 0px 30pt white;
}

p.title-ss {
	display: flex;
	flex-direction: vertical;
	justify-content: center;
	margin-right: 1vw;
	margin-left: 1vw;
	font-size: 3vh;
}

p.paragraph {
	margin-right: 1vw;
	font-size: 2vh;
}

p.bottom{
	margin-bottom: 10pt;
	text-align: center;
	justify-content: bottom;
	font-size: 5vh;
}

div.horizontal {
	display: flex;
	flex-direction: horizontal;
	align-items: center;
}
